
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a routerLinkActive="/hero" href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a routerLink="/about" href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a routerLink="/resume" href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a routerLink="/portfolio" href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a routerLink="/services" href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
        <li><a routerLink="/contact" href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
</header><!-- End Header -->

<div class="">
  <nav id="navbar1" class="navbar nav-menu  mobile-nav-toggle" *ngIf="navtoggle">
    <ul>
      <li><a routerLinkActive="/hero" href="#hero"  (click)="isClose()" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
      <li><a routerLink="/about" href="#about"  (click)="isClose()" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
      <li><a routerLink="/resume" href="#resume"  (click)="isClose()" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
      <li><a routerLink="/portfolio" href="#portfolio"  (click)="isClose()" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
      <li><a routerLink="/services" href="#services"  (click)="isClose()" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
      <li><a routerLink="/contact" href="#contact"  (click)="isClose()" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
    </ul>
  </nav><!-- .nav-menu -->
<i class="bi bi-list mobile-nav-toggle d-lg-none" (click)="isClose()"></i>

</div>




